{% extends "layouts/main.twig" %}

{% block content %}
    {{ parent() }}

    <form action="/auth/login" method="post">
        {{ csrf_field|raw }}
        <div class="input-group mb-30">
            <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
            <input type="text" name="username" class="form-control" placeholder="Username" required>
        </div>
        <div class="input-group mb-20">
            <span class="input-group-text"><i class="fa-regular fa-lock"></i></span>
            <input type="password" name="password" class="form-control rounded-end" placeholder="Password" required>
            <a role="button" class="password-show"><i class="fa-duotone fa-eye"></i></a>
        </div>
        <button type="submit" class="btn btn-primary w-100 login-btn">Sign in</button>
        <p class="text-center">Don't have any accounts <a href="/auth/register" style="color: #fd6b7e">Register</a></p>
    </form>
{% endblock %}