        <!-- footer start -->
        <div class="footer">
            <p>Copyright© <script>document.write(new Date().getFullYear())</script> All Rights Reserved By <span class="text-primary">Team 7</span></p>
        </div>
        <!-- footer end -->
    </div>
    <!-- main content end -->

    <script src="/dashboard/assets/vendor/js/jquery-3.6.0.min.js"></script>
    <script src="/dashboard/assets/vendor/js/jquery.overlayScrollbars.min.js"></script>
    <script src="/dashboard/assets/vendor/js/jquery.dataTables.min.js"></script>
    <script src="/dashboard/assets/vendor/js/select2.min.js"></script>
    <script src="/dashboard/assets/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="/dashboard/assets/js/main.js"></script>
    <script src="/dashboard/assets/js/select2-init.js"></script>
    <script src="dashboad/assets/vendor/js/swiper-bundle.min.js"></script>
</body>

<!-- Mirrored from codebasket.xyz/template/revel_ecom/dashboard-all-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 20 Oct 2024 18:21:48 GMT -->
</html>