{% extends "layouts/main.twig" %}

{% block content %}
    <div class="dashboard-breadcrumb mb-30">
        <h2>Categories</h2>
    </div>
    <div class="row g-4">
        <div class="col-xxl-4 col-md-5">
            <div class="panel">
                <div class="panel-header">
                    <h5>Add New Category</h5>
                </div>
                <div class="panel-body">
                    <div class="row g-3">
                        <form action="/admin/categories" method="post">
                            <div class="col-12">
                                <label class="form-label">Category Name</label>
                                <input type="text" name="category_name" class="form-control form-control-sm" required>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <div class="btn-box">
                                    <button type="submit" class="btn btn-sm btn-primary">Save Category</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-8 col-md-7">
            <div class="panel">
                <div class="panel-header">
                    <h5>All Categories</h5>
                    <div class="btn-box d-flex gap-2">
                        <div id="tableSearch"></div>
                        <button class="btn btn-sm btn-icon btn-outline-primary"><i class="fa-light fa-arrows-rotate"></i></button>
                        <div class="digi-dropdown dropdown">
                            <button class="btn btn-sm btn-icon btn-outline-primary" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><i class="fa-regular fa-ellipsis-vertical"></i></button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-filter-option">
                        <div class="row justify-content-between g-3">
                            <div class="col-xxl-4 col-6 col-xs-12"></div>
                            <div class="col-xl-2 col-3 col-xs-12 d-flex justify-content-end">
                                <div id="productTableLength"></div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-dashed table-hover digi-dataTable all-product-table table-striped" id="allProductTable">
                        <thead>
                        <tr>
                            <th class="no-sort">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="markAllProduct">
                                </div>
                            </th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-category-card">
                                            <div class="part-icon">
                                                <span><img src="/dashboard/assets/images/image.png" alt="image"></span>
                                            </div>
                                            <div class="part-txt">
                                                <span class="category-name">{{ category.category_name }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-box">
                                            <a href="/admin/categories/{{ category.id }}/edit" class="btn btn-sm btn-primary">
                                                <i class="fa-light fa-pen-to-square"></i>
                                            </a>
                                            <a href="/admin/categories/delete/{{ category.id }}" class="btn btn-sm btn-primary">
                                                <i class="fa-light fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="table-bottom-control"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}